<footer>
    <div class="div-informacion">
        <div class="div-direccion">
            <i class="fa-solid fa-location-dot"></i>
            <p>Árbol del ahorcado 1905 - Jurassic Pan, Isla de Nunca Jamás</p>
        </div>
        <div class="div-horario">
            <p>Encontranos todos los días, incluido domingos y feriados.<br>Abrimos cuando llegamos, cerramos cuando nos
                vamos.</p>
        </div>
    </div>

    <div class="div-footer-logo">
        <img src="/imagenes/Logo.png" alt="logo">
    </div>

    <div class="div-redes">
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
</footer>

<!-- script de Sweet Alert 2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- script para conectar con el JS del lado front (en public) para el registro y el login -->
<script src="/validacion.js"></script>
<!-- script para conectar con el JS del lado front (en public) para la cantidad de productos del carrito -->
<script src="/cantidades.js"></script>

</body>

</html>