<%- include('../partials/head', { usuario: usuario }) %>

<section class="compraRealizada">
<h2>¡Gracias por tu compra <%= usuario.nombre_usuario %>!</h2>
<img src="/imagenes/MrBurns.gif" alt="">
</section>

<%- include('../partials/footer')%>