<%- include('../partials/head', { usuario: usuario }) %>

    <section class="nosotros">
        <div class="nosotros-izq">
            <h1>Nuestra historia...</h1>
            <p>Fundada por James Barrie en 1904, somos una empresa con más de 120 años de historia. Y aunque llevamos
                mucho tiempo en el mercado, mantenemos nuestro espíritu joven e innovador, siendo nuestros principales
                valores la calidad, la confianza y la juventud eterna.</p>
            <p>El trabajo infantil de los Niños perdidos nos permite mantener nuestros precios bajos y el polvo blanco
                que te pone a volar, provisto por Campanita, nos permitió sobornar al Inspector Garfio cada vez que quizo
                clausurar el local.</p>
        </div>
        <img src="/imagenes/Panadería.jpg" alt="">

    </section>

    <%- include('../partials/footer')%>